[Unit]
Description=Temperature Humidity socket service

[Service]
Type=simple
RemainAfterExit=no
ExecStart=thsock

[Install]
Alias=thsock
WantedBy=multi-user.target
